.third-floor {
  display: flex;
  justify-content: flex-start;
  max-width: 700px;
  align-items: center;
}

.blocktocenter {
  margin: 0 auto;
  max-width: 600px;
}

.add {
  margin-left: 25px;
  padding: 0.5rem 2rem;
  background: rgb(60, 139, 60);
  border-radius: 3px;
  box-shadow: 0 0 10px #dad8d8;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.add:hover {
  background: rgb(21, 188, 21);
}
.btn-search {
  margin-left: 10px;
  padding: 0.5rem 2rem;
  background: rgb(38, 41, 202);
  border-radius: 3px;
  box-shadow: 0 0 10px #dad8d8;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-search:hover {
  background: rgb(37, 40, 254);
}

.search {
  box-shadow: 0 0 10px #dad8d8;
  border: none;
  width: 100%;
  margin: 0 3px 0 3px;
  height: 30px;
  border-radius: 3px;
  outline: none;
}
.search-box {
  border: none;
  margin: 0 3px 0 3px;
  width: 200px;
}
